<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">


</head>
<body>
    <div class="container">
    <header>
        <div id="navbar"></div>
    </header>

 <div class="secao1">
    <h1>A agilidade na palma da sua mão</h1>
    <a href="secao2" class="button">Saiba mais</a>
</div>
  <div class="secao2">
    <h3>Mais</h3>
  </div>
  <div class="footer">
    <h4>Footer</h4>
</div>
    </div>
 
    <script>
        fetch("navbar.html")
        .then(res => res.text())
        .then(data => {document.getElementById("navbar").innerHTML = data;})
    </script>
   
</body>
</html>