<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/styles/form.css">

<style>
    .footer {
    background-color: #051E30;
    padding: 2rem 0;
    text-align: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.875rem;
}

</style>
</head>

<body class="bg-gray-50 text-gray-900 font-sans flex flex-col min-h-screen">

  
{% include "navbarModulos.html" %}
<script>
  //fetch("navbarModulos.html")
  // .then(response => response.text())
  //  .then(data => {
   //   document.getElementById("navbar").innerHTML = data;

      // Recarrega os eventos do menu depois de inserir
      const menuBtn = document.querySelector('.menu-btn');
      const dropdown = document.getElementById('menuDropdown');

      menuBtn.addEventListener('click', (e) => {
        e.stopPropagation();
        dropdown.classList.toggle('show');
      });

      document.addEventListener('click', (e) => {
        if (!dropdown.contains(e.target)) {
          dropdown.classList.remove('show');
        }
      });

</script>
</header>
  <main class="flex-1 px-8 md:px-20 py-12 flex flex-col md:flex-row gap-10">

    <!-- Conteúdo -->
    <section class="flex-1 space-y-8">

{% block content %}
<div class="form-container">
        <form method="POST" action="{{ url_for('routes.exe_modulo', modulo_nome=modulo_nome) }}">
            {% for pergunta in perguntas %}
            {% set pergunta_index = loop.index %}
            <div class="pergunta mb-3">
                <p><strong>{{ pergunta_index }}. {{ pergunta.pergunta }}</strong></p>
                 {% for alt in pergunta.alternativas %}
                    <div class="form-check">
                    <input class="form-check-input" type="radio" 
                           name="resposta_{{ pergunta_index }}" 
                           value="{{ loop.index }}" 
                           id="pergunta{{ pergunta_index }}_alt{{ loop.index }}">
                    <label class="form-check-label" for="pergunta{{ pergunta_index }}_alt{{ loop.index }}">
                        {{ alt }}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>
{% endblock %}
    
    </section>
  </main>

  <!-- Rodapé -->
  <footer class="footer">
        <div class="container">
            <p class="footer-text">Copyright © 2025 | Todos os direitos reservados</p>
        </div>
    </footer>

</body>
</html>
