<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/styles/form.css">

<style>
    .footer {
    background-color: #051E30;
    padding: 2rem 0;
    text-align: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.875rem;
}

</style>
</head>

<body class="bg-gray-50 text-gray-900 font-sans flex flex-col min-h-screen">

  
{% include "navbarModulos.html" %}
<script>
  //fetch("navbarModulos.html")
  // .then(response => response.text())
  //  .then(data => {
   //   document.getElementById("navbar").innerHTML = data;

      // Recarrega os eventos do menu depois de inserir
      const menuBtn = document.querySelector('.menu-btn');
      const dropdown = document.getElementById('menuDropdown');

      menuBtn.addEventListener('click', (e) => {
        e.stopPropagation();
        dropdown.classList.toggle('show');
      });

      document.addEventListener('click', (e) => {
        if (!dropdown.contains(e.target)) {
          dropdown.classList.remove('show');
        }
      });

</script>
</header>
  <main class="flex-1 px-8 md:px-20 py-12 flex flex-col md:flex-row gap-10">

    <!-- Conteúdo -->
    <section class="flex-1 space-y-8">

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center py-20 bg-gray-50 text-gray-900">
  <div class="bg-white shadow-xl rounded-2xl p-10 text-center">
    <h2 class="text-3xl font-bold mb-6">Resultado Final</h2>
    <p class="text-xl mb-4">Você acertou <strong>{{ pontuacao }}</strong> de <strong>{{ total }}</strong> perguntas.</p>
   <div class="mt-6 flex justify-center gap-4">
    <a href="{{ url_for('routes.mostrar_modulo', modulo_nome=modulo_nome) }}"
       class="bg-emerald-500 hover:bg-emerald-600 text-white px-6 py-3 rounded-full font-semibold">
       Refazer Exercícios
    </a>
    <a href="{{ url_for('routes.conteudo') }}"
       class="bg-gray-500 hover:bg-gray-600 text-white px-6 py-3 rounded-full font-semibold">
       Voltar ao Conteúdo
    </a>
</div> 
</div>
{% endblock %}
    
    </section>
  </main>

  <!-- Rodapé -->
  <footer class="footer">
        <div class="container">
            <p class="footer-text">Copyright © 2025 | Todos os direitos reservados</p>
        </div>
    </footer>

</body>
</html>
